body {
  font-family: 'Open Sans';
  background-color: #e7efec;
}

.opacity {
  opacity: 0
}

// .header {
//   border-bottom: 1px solid black;
// }

.shadow {
  box-shadow: none !important;
}

.mobile-popup {
  background: #1eb7ee;
  position: relative;
  z-index: 1;
  height: 100vh;
  padding-top: 55px;
  box-sizing: border-box;
  display: none;
}

#tableBody.slip {
  transform: translateY(100px);
  opacity: 0;
  transition: all .3s linear;
}