.shadow {
  box-shadow: 0px 2px 15px rgb(117, 117, 117);
  transition: box-shadow 0s linear .15s;
}
.header {
  width: 100%;
  height: 90px;
  background-color: $blue;
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  .logo {
    margin-top: 7px;
    margin-left: 117px;
    img {
      width: 188px;
    }
  }
  .menu-language {
    display: flex;
  }
  .menu {
    ul {
      display: flex;
    }
    li {
      text-align: center;
      padding-top: 35px;
      height: 90px;
      box-sizing: border-box;
      padding: 35.5px 37.8px;
      font-size: 20px;
      color: white;
      cursor: pointer;
    }
    .menu-item-active {
      border-top-right-radius: 30px;
      background: linear-gradient(to right, #1eb7ee, white);
      color:$blue;
    }
  }
  .language {
    display: flex;
    flex-direction: column;
    width: 100px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 35px;
    width: 90px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    span, li {
      cursor: pointer;
    }
  }
  .language-select-active {
    z-index: 2;
    display: block;
    position: relative;
    background: $blue;
    color: white;
    top: 33px;
    height: 200px;
    border-bottom-left-radius: 35px;
    li {
      height: 90px;
      padding-top: 35px;
      box-sizing: border-box;
      font-weight: normal;
      transition: background-color .3s;
      &:hover {
        background-color: $blue;
        transition: background-color .3s;
      }
      &:last-child {
        border-bottom-left-radius: 35px;
      }
    }
  }
}

.hided {
  display: none;
}

div .open {
  transform: translateY(90px);
  transition: transform .3s ease;
}

.popup-menu {
  background: white;
  width: 100%;
  padding-bottom: 45px;
  position: fixed;
  border-bottom-right-radius: 180px;
  box-shadow: 0px 2px 15px rgb(117, 117, 117);
  transform: translateY(-130%);
  transition: transform .3s ease;
  z-index: 3;
  .container {
    margin: 0 auto;
    width: 1000px;
    padding-top: 22px;
    display: flex;
    .offer-block {
      width: 274px;
      margin-left: 72px;
      border-radius: 20px;
      box-shadow: 0px 2px 5px rgb(168, 168, 168);
      padding-bottom: 20px;
      position: relative;
      &::before{
        content: '';
        display: block;
        width: 44px;
        background: url('../images/airlines.svg') no-repeat;
        background-size: 40px;
        height: 100px;
        position: absolute;
        z-index: 3;
        top: 22px;
        right: 5px;
      }
    }
    img {
      max-width: 100%;
      display: block;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 70px;

    }
    .description {
      width: 250px;
      margin: 0 auto;
      margin-top: 17px;
      h3 {
        font-size: 24px;
        font-weight: bold;
      }
      p {
        font-size: 14px;
        margin-top: 15px;
        line-height: 22px;
      }
      a {
        display: inline-block;
        font-weight: bold;
        color: $blue;
        border: 2px solid $blue;
        text-decoration: none;
        margin-top: 18px;
        padding: 9px 20px;
        border-radius: 18px;
      }
    }
    .information-block {
      display: flex;
      padding-top: 4px;
      margin-left: 146px;
    }
    .information {
      h4 {
        font-size: 18px;
        color: $blue;
        font-weight: bold;
        margin-bottom: 24px;
      }
      ul li {
        margin-bottom: 19.06px;
        a {
          font-size: 16px;
          color: $blue;
          text-decoration: none;
          border-bottom: 1px solid transparent;
          transition: border-bottom .3s;
          &:hover {
            border-bottom: 1px solid $blue;;
            transition: border-bottom .5s;
          }
        }
      }
      &:first-child {
        width: 219px;
        margin-right: 67px;
      }
    }
  }
}

.mobile-popup {
  display: none;
  background: #1eb7ee;
  position: relative;
  z-index: 1;
  height: 100vh;
  padding-top: 65px;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all .2s linear;
  position: fixed;
  width: 100%;
  z-index: 3;
  .languages {
    display: flex;
    justify-content: flex-end;
    a {
      cursor: pointer;
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      margin-right: 20px;
    }
  }
}

.mobile-popup-open {
  display: none;
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
  transition: all .2s linear;
}


.offers {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    width: 47%;
    height: 125px;
    border: 2px solid white;
    border-radius: 10px;
    border-top-right-radius: 30px;
    p {
      margin-top: 10px;
    }
  }
}

.details-popup {
  display: none;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  background: white;
  position: absolute;
  padding: 25px 50px;
  line-height: 2;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all .2s linear;
  .close {
    position: absolute;
    top: -50px;
    left: 30px;
    color: $blue;;
    font-weight: bold;
    font-size: 18px;
    background: white;
    border: white;
    padding: 7px 15px 7px 25px;
    border-top-left-radius: 30px;
    cursor: pointer;
  }
  .close:focus {
    outline: none;
    border: none;
  }
  a {
    font-weight: bold;
    color: $blue;;
    text-decoration: none;
  }
}

.details-popup-open {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
  transition: all .2s linear;
}
